<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Five-in-Line Master Reset Password</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
        <div class='login'>
            <div class='loginName'>
               <header>
                  <h2>Reset Password</h2>
              </header>
             <form action="/resetProcess" method="post" id="resetForm" onsubmit="return validate();">
              <table>
                <tr>
                  <td><b>Username：</b></td>
                  <td><input type="text"  name="re_username" placeholder="username"></td>
                </tr>
                <tr>
                  <td><b>Old Password: </b></td>
                  <td><input type="password" name="old_password" placeholder="old password"></td>
                </tr>
                <tr>
                  <td><b>New Password: </b></td>
                  <td><input type="password" name="new_password" placeholder="new password"></td>
                </tr>
                <tr>
                  <td><i><a href="/">Back to Signin</a></i></td>
                  <td><input type="submit" value="Confirm"></td>
                </tr>
              </table>
             </form>
            </div>
        </div>
        <script>
            //Validate Form
            function validate(){

                    username = document.querySelector('input[name=re_username]'),
                    password = document.querySelector('input[name=old_password]'),
                    newpassword = document.querySelector('input[name=new_password]');

                    if(username.value == "" || password.value == "" ){
                        alert('Username or Password can not be left blank.');
                        return false;
                    }

                    if(newpassword.value ==""){
                        alert('Please enter your new password.');
                        return false;
                    }

                    return true;
                }

      </script>
  </body>
</html>
